@model PROGRA_PARCIAL.Models.Remesa

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />


<h2>Registrar Transacción</h2>

<form asp-controller="Transacciones" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombreRemitente">Nombre remitente</label>
        <input asp-for="NombreRemitente" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NombreDestinario">Nombre Destino</label>
        <input asp-for="NombreDestinario" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaisOrigen">Pais Origen</label>
        <input asp-for="PaisOrigen" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaisDestino">Pais Destino</label>
        <input asp-for="PaisDestino" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MontoEnviado">Monto Enviado</label>
        <input asp-for="MontoEnviado" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label asp-for="TipoMoneda">Tipo de Transacciones</label>
        <select asp-for="TipoMoneda" class="form-control">
            <option value="USD">Dólares Estadounidenses (USD)</option>
            <option value="BTC">Bitcoin (BTC)</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Estado">Estado</label>
        <input asp-for="Estado" class="form-control" />
    </div>
    <br>
    <button type="submit" class="btn-custom">Registrar</button>
</form>
